<h3>All posts:</h3>
<hr>
<% @articles.each do |article| %>
	<p>
		<%= article.title %>
	</p>
	<p>
		<%= article.content %>
	</p>
	<p>
		<%= link_to 'Show', article %> |
		<%= link_to 'Edit', edit_article_path(article) %>  |
		<%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?'} %>
	</p>
	<hr>
	<br>
<% end %>