<p>
	<%= @article.title %>
</p>
<p>
	<%= @article.content %>
</p>
<p>
	<%= link_to 'Edit', edit_article_path %>
</p>

<hr>

<h3>Comments:</h3>
<% @article.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>
	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
	<p>
		<%= link_to 'Destroy comment', [comment.article, comment],
																		method: :delete,
																		data: { confirm: 'Are you sure? '}%>
	</p>
<% end %>

<hr>

<h3>Create your comment:</h3>
<%= render 'comments/form' %> 